.description#current-card-info{data: {id: card.id }}
  %h2.display-name
    = display_element_icon(card.element)
    = card.display_name
    %span.reversed

  %p= "Domain: #{card.domain.join(', ')}"

  %p= "Associations: #{card.associations.join(', ')}"

  -# .bold= "One possible reading of the #{card.display_name}:"
  -# = "Struggling with" if card.is_reversed
  -# = "#{card.associations.sample} as relates to #{card.domain.sample}"
  -# = " things" unless card.element == 'air'
-#
-# .image-large= card[:image]
