.all-cards-container
  .rows
    .wands-container
      .wands
        - cards[0..13].each do |card|
          %li.card.vulgar-btn.btn{:data => {:id => card.id}}
            = card.display_name.split.first
    .pentacles-container
      .pentacles.clear
        - cards[14..27].each do |card|
          %li.card.vulgar-btn.btn{:data => {:id => card.id}}
            = card.display_name.split.first
    .cups-container
      .cups.clear
        - cards[28..41].each do |card|
          %li.card.vulgar-btn.btn{:data => {:id => card.id}}
            = card.display_name.split.first
    .swords-container
      .swords.clear
        - cards[42..55].each do |card|
          %li.card.vulgar-btn.btn{:data => {:id => card.id}}
            = card.display_name.split.first
    .trumps-container.clear
      .trumps
        - cards[56..-1].each do |card|
          %li.card.vulgar-btn.btn{:data => {:id => card.id}}
            = card.display_name