%ul
  - card.astrological_signs.each do |sign|
    %li.astrological-correspondence
      %span.title= astrological_image(sign)

  - card.elements.each do |element|
    %li.elemental-correspondence
      %span.title= elemental_image(element)
      = static_correspondences.elemental[element]

  %li.rank-correspondence
    %span.title.bold= card.display_rank
    = card.rank_correspondence 

  - if card.golden_dawn_correspondence
    %li.golden-dawn-correspondence
      %span.title.bold Golden Dawn
      = card.golden_dawn_correspondence
