#the-moon
  // moon images from http://www.danmorgan.org/wordpress/?p=618
  %img{src: fetch_moon_image(moon.age)}
.moon-info-inner
  .moon-age= "#{moon.age} days old"
  .moon-illumination= "#{(moon.illumination * 100).round}% illuminated"
  .moon-phase= format(moon.phase)
