.title Planetary Influences
.greater
  .ruling-signs 
    = planetary_influence.title_for(:ruling_signs)
    - planetary_influence.ruling_signs.each do |sign|
      %span.symbol= astrological_image(sign)
  .ruling-planets 
    = planetary_influence.title_for(:ruling_planets)
    - planetary_influence.ruling_planets.each do |planet|
      %span.symbol= astrological_image(planet)

%table
  %tbody
    %tr
      %td.decan-planet Decan
      %td.symbol= astrological_image(planetary_influence.decan)
      %td.daily-planet Daily
      %td.symbol= astrological_image(planetary_influence.daily)
    %tr
      %td.yearly-planet Yearly
      %td.symbol= astrological_image(planetary_influence.yearly)
      %td.cyclic-planet Cyclic
      %td.symbol= astrological_image(planetary_influence.cyclic)
