#spread
  #spread-enneagram
    %ul
      .row-1
        = render :haml,
        :card,
        :locals => { :card => cards[0], :position => 'present' }

      .row-2
        = render :haml,
        :card,
        :locals => { :card => cards[8], :position => 'past' }
        = render :haml,
        :card,
        :locals => { :card => cards[1], :position => 'future' }

      .row-3
        = render :haml,
        :card,
        :locals => { :card => cards[7], :position => 'past' }
        = render :haml,
        :card,
        :locals => { :card => cards[2], :position => 'future' }

      .row-4
        = render :haml,
        :card,
        :locals => { :card => cards[6], :position => 'past' }
        = render :haml,
        :card,
        :locals => { :card => cards[3], :position => 'future' }

      .row-5
        = render :haml,
        :card,
        :locals => { :card => cards[5], :position => 'past' }
        = render :haml,
        :card,
        :locals => { :card => cards[4], :position => 'future' }